## Connect mysql to jupyter Notebook


Connect locally hosted MySQL database (managed with phpMyAdmin) to Jupyter Notebook:

1. **Start Jupyter Notebook**:
   Open a terminal or command prompt and navigate to the directory where you want to work. Then, start Jupyter Notebook by entering the command:
   
   ```
   jupyter notebook
   ```

   This will open the Jupyter Notebook interface in your web browser.

2. **Create a New Notebook**:
   In the Jupyter Notebook interface, click on "New" and select a programming language for your notebook (e.g., Python).

3. **Install Required Libraries**:
   If you haven't already, install the `mysql-connector-python` library by running the following command in a Jupyter Notebook cell:
   
   ```python
   !pip install mysql-connector-python
   ```

4. **Import the Library**:
   In a new cell, import the `mysql.connector` library:
   
   ```python
   import mysql.connector
   ```

5. **Establish a Connection**:
   Now, create a connection to your locally hosted MySQL database. Use the same credentials you use to access phpMyAdmin:

   ```python
   # Replace these values with your actual database credentials
   hostname = "localhost"
   username = "your_mysql_username"
   password = "your_mysql_password"
   database = "your_database_name"

   # Establish the connection
   connection = mysql.connector.connect(
       host=hostname,
       user=username,
       password=password,
       database=database
   )
   ```

6. **Create a Cursor**:
   Just like in the previous instructions, create a cursor to interact with the database:

   ```python
   cursor = connection.cursor()
   ```

7. **Execute SQL Queries**:
   You can now execute SQL queries using the cursor, just like before. For example:

   ```python
   # Example query
   query = "SELECT * FROM your_table_name"
   
   # Execute the query
   cursor.execute(query)
   
   # Fetch the results
   results = cursor.fetchall()
   for row in results:
       print(row)
   ```

8. **Close the Cursor and Connection**:
   Don't forget to close the cursor and the database connection when you're done:

   ```python
   cursor.close()
   connection.close()
   ```

9. **Run Cells**:
   Run each cell by clicking on it and either pressing Shift + Enter or clicking the "Run" button in the Jupyter Notebook interface.

By following these steps, you'll be able to connect your locally hosted MySQL database (managed with phpMyAdmin) to Jupyter Notebook and interact with your database using Python code.

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ayman\appdata\local\programs\python\python311\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\ayman\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (3.20.3)

[notice] A new release of pip is available: 23.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector

In [35]:
connection = mysql.connector.connect(
    database = 'hr', 
    user='root', 
    password='', 
    host='localhost',
    port=3307)

In [38]:
# Example query
query = "SELECT * FROM jobs"

In [40]:
cursor = connection.cursor()

In [41]:
# Execute the query
cursor.execute(query)

In [42]:
# Fetch the results
results = cursor.fetchall()
for row in results:
    print(row)

('100', 'Sr. Architect', Decimal('60000.00'), Decimal('100000.00'))
('200', 'Sr.Software Developer', Decimal('60000.00'), Decimal('80000.00'))
('220', 'Sr. Designer', Decimal('70000.00'), Decimal('90000.00'))
('234', 'Sr. Designer', Decimal('70000.00'), Decimal('90000.00'))
('300', 'Jr.Software Developer', Decimal('40000.00'), Decimal('60000.00'))
('400', 'Jr.Software Developer', Decimal('40000.00'), Decimal('60000.00'))
('500', 'Jr. Architect', Decimal('50000.00'), Decimal('70000.00'))
('600', 'Lead Architect', Decimal('70000.00'), Decimal('100000.00'))
('650', 'Jr. Designer', Decimal('60000.00'), Decimal('70000.00'))
('660', 'Jr. Designer', Decimal('60000.00'), Decimal('70000.00'))

In [43]:
cursor.close()
connection.close()