## Create Tables in MySQL (PHPMyAdmin) using Jupyter Notebook:

In [1]:
import mysql.connector

In [3]:
#  Establish a Connection:
db_connection = mysql.connector.connect(
    user='root', 
    password='', 
    host='localhost',
    database='testdb',
    port=3307)

In [4]:
# Create a new database cursor
db_cursor = db_connection.cursor()

### Create Tables:

In [5]:
# Define the SQL command to create another table
create_another_table_query = """
CREATE TABLE IF NOT EXISTS courses (
    course_id INT AUTO_INCREMENT PRIMARY KEY,
    course_name VARCHAR(100),
    instructor VARCHAR(50),
    credits INT
)
"""

In [6]:
# Execute the SQL command to create the second table
db_cursor.execute(create_another_table_query)

In [7]:
# Commit the changes to the database
db_connection.commit()

In [8]:
# Close the database cursor and connection
db_cursor.close()
db_connection.close()

In [13]:
# Confirm that the second table has been created
print("Table 'courses' has been created in the 'testdb' database.")

Table 'courses' has been created in the 'testdb' database.