## Insert Dummy Data From Jupyter Notebook to MySql PhpMyAdmin

In [1]:
# Import the required library
import mysql.connector

In [7]:
# Establish a connection to MySQL server and select the 'testdb' database
db_connection = mysql.connector.connect(
    user='root',         # MySQL username
    password='',         # MySQL password (or leave empty)
    host='localhost',    # MySQL host (usually 'localhost')
    database='testdb',   # Select the 'testdb' database
    port=3307            # MySQL port (usually 3306)
)

In [2]:
# Create a new database cursor
db_cursor = db_connection.cursor()

# Define the dummy data to be inserted into the 'courses' table
dummy_data = [
    ("Introduction to Programming", "John Smith", 3),
    ("Data Science Fundamentals", "Emily Johnson", 4),
    ("Web Development Basics", "Michael Brown", 2),
    ("Database Design Principles", "Jennifer Lee", 3)
]

In [3]:
# Define the SQL command to insert data into the 'courses' table
insert_data_query = """
INSERT INTO courses (course_name, instructor, credits)
VALUES (%s, %s, %s)
"""

In [4]:
# Insert the dummy data into the 'courses' table
db_cursor.executemany(insert_data_query, dummy_data)

In [5]:
# Commit the changes to the database
db_connection.commit()

In [6]:
# Close the database cursor and connection
db_cursor.close()
db_connection.close()

In [8]:
# Confirm that the data has been inserted
print("Dummy data has been inserted into the 'courses' table.")

Dummy data has been inserted into the 'courses' table.