# Socioeconomic Data Processing! 
### Key points
- Create a DB in PhpMyAdmin,
- Create table
- Insert data from csv file

### Create a db in localhost named "socioeconomic.db"

In [65]:
import mysql.connector
import pandas as pd

In [85]:
#  Establish a Connection:
db_connection = mysql.connector.connect(
    user='root', 
    password='', 
    host='localhost',
    port=3307)

In [57]:
db_cursor = db_connection.cursor()
db_cursor.execute("CREATE DATABASE socioeconomic")
db_cursor.close()

True

In [86]:
# Reconnect to the "socioeconomic" database
db_connection.database = "socioeconomic"

In [62]:
# Create a new database cursor
db_cursor = db_connection.cursor()

### Create table

In [63]:
# Define the CREATE TABLE SQL query for an empty table
create_table_query = """
CREATE TABLE chicago_socioeconomic_data (
    ca FLOAT,
    community_area_name VARCHAR(255),
    percent_of_housing_crowded FLOAT,
    percent_households_below_poverty FLOAT,
    percent_aged_16_unemployed FLOAT,
    percent_aged_25_without_high_school_diploma FLOAT,
    percent_aged_under_18_or_over_64 FLOAT,
    per_capita_income_ INT,
    hardship_index FLOAT
)
"""

In [64]:
# Execute the SQL command to create the second table
db_cursor.execute(create_table_query)

### Table Data in CSV file

In [66]:
# Read the CSV file into a DataFrame
csv_url = 'https://data.cityofchicago.org/resource/jcxq-k9xf.csv'
df = pd.read_csv(csv_url)

In [67]:
df.head(2)

,ca,community_area_name,percent_of_housing_crowded,percent_households_below_poverty,percent_aged_16_unemployed,percent_aged_25_without_high_school_diploma,percent_aged_under_18_or_over_64,per_capita_income_,hardship_index
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0

In [68]:
# Create a cursor
db_cursor = db_connection.cursor()

In [69]:
db_cursor

### Insert data from csv file

In [70]:
# Define the INSERT INTO SQL query
insert_query = """
INSERT INTO chicago_socioeconomic_data (
    ca, community_area_name, percent_of_housing_crowded,
    percent_households_below_poverty, percent_aged_16_unemployed,
    percent_aged_25_without_high_school_diploma,
    percent_aged_under_18_or_over_64, per_capita_income_, hardship_index
) VALUES (
    %s, %s, %s, %s, %s, %s, %s, %s, %s
)
"""

In [74]:
# # Iterate through the DataFrame and insert rows into the table
# for index, row in df.iterrows():
#     values = (
#         row['ca'], row['community_area_name'], row['percent_of_housing_crowded'],
#         row['percent_households_below_poverty'], row['percent_aged_16_unemployed'],
#         row['percent_aged_25_without_high_school_diploma'],
#         row['percent_aged_under_18_or_over_64'], row['per_capita_income_'],
#         row['hardship_index']
#     )
#     db_cursor.execute(insert_query, values)

In [75]:
# print(df.head())

In [73]:
# Iterate through the DataFrame and insert rows into the table
for index, row in df.dropna().iterrows():
    values = (
        row['ca'], row['community_area_name'], row['percent_of_housing_crowded'],
        row['percent_households_below_poverty'], row['percent_aged_16_unemployed'],
        row['percent_aged_25_without_high_school_diploma'],
        row['percent_aged_under_18_or_over_64'], row['per_capita_income_'],
        row['hardship_index']
    )
    db_cursor.execute(insert_query, values)

In [76]:

# Commit the changes and close the cursor and connection
db_connection.commit()
db_cursor.close()
db_connection.close()

In [78]:
df.shape

(78, 9)

In [87]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [89]:
%sql mysql://root:@localhost:3307/socioeconomic

In [90]:
%sql SELECT * FROM chicago_socioeconomic_data limit 5;

 * mysql://root:***@localhost:3307/socioeconomic
5 rows affected.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0),
 (5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0)]